<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Chicago.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ColladaConv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Horde3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Horde3DUtils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Knight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>084088AF59384B4EB81A0977</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7068C19C3778421089425BAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DFCEC9AC20B47639B9DEC1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847C3F417EB642A596A89B62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC536AC7CB6843E7A63DFB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCD6381082C04D38B86E7C0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF0C26385CD3471DB9B2F8AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB905AEBA5F246E8A9794957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
